.conteiner {
    margin: 0 20%;
}

.wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.main-logo {
    width: 100px;
}

.num-main {
    font-size: larger;
    font-weight: bold;
}

.logo {
    position: relative;
    left: -27%;
}

.contact {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-text{
    color: #0178c4;
    text-align: center;
    margin-top: 1.5%;
    margin-left: -30%;
}

.main-wrapper-first{
    display: flex;
    justify-content: space-around;
}

.main-wrapper-first img {
    width: 200px;
    height: auto;
}

.main-content-item {
    text-align: center;
}

.main-content-item img {
    width: 250px;
    height: auto;
}

.main-img{
    position: relative;
}

.main-content-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-footer {
    display: flex;
    justify-content: center;
}



h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-color: #1B262C;
    position: relative;
}

header i {
    color: #0178c4;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

main {
    background-color: #3282B8;
    position: relative;
    color: #F9DBBA;
}


footer {
    background-color: #BBE1FA;
    color: #1B262C;
}

li {
    margin: 5px;
}

footer i {
    color: #1B262C;
}
